/* About dialog style */
.about-area .scroll-pane .content {
    -fx-background-image: url(/img/logo.png);
    -fx-background-repeat: stretch;
    -fx-background-size: stretch;
    -fx-background-position: center center;
}

.about-area *.text {
    -fx-text-alignment: center;
}

/* Style column header. Adds key icon. */
.key {
   -fx-background-image: url(/img/key.png);
   -fx-background-repeat: stretch;
   -fx-background-position: center center;
   -fx-background-size: 20px;
}

.table-view {
   /*-fx-background-image: url(/img/logo.png);*/
   /*-fx-background-size:  cover;*/
}

/* SplitPane style for divider  */
.split-pane  .split-pane-divider {
    -fx-padding: 0 2px 0 2px;
}

/* Style for table cell */
.table-view .table-cell {
    -fx-alignment: CENTER-RIGHT;
}

/* Styles for SqlConsole input. */
.console {
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-font-family: monospace;
}

.console .content {
	-fx-background-color: black;
}

/* Styles for SqlConsole output. */
.console-out {
    -fx-text-fill: green;
    -fx-font-size: 16;
    /* set for formatted output*/
    -fx-font-family: monospace;
}

.console-out .content {
	-fx-background-color: black;
}

/* Styles for buttons styled as icons.*/
.button {
    -fx-background-color: transparent, transparent, transparent, transparent;
}

.button:hover {
    -fx-background-color: gray, lightgray, transparent, transparent;
}

/* Style for insert objects button on button bar (remove arrow !!!) */
.menu-button .arrow-button {
    -fx-padding: 0;
}

.menu-button .arrow-button .arrow {
    -fx-padding: 0;
}

/* Style for Status bar */
.status-bar {
    -fx-border-insets: 1;
   // -fx-border-color: -fx-text-box-border;
    -fx-border-width: 1;
    -fx-background-color:  -fx-background;
}

/*Style for menu bar labels*/
.menu-bar{
    -fx-border-color:  gray;
    -fx-border-width: 1
}

.menu-bar .label {
    -fx-text-fill: black;
 }

 /* Styles for main table view tool bar elements */
 .bar .button{
     -fx-background-repeat: stretch;
     -fx-background-position: center center;
     -fx-background-size: 16px;
     -fx-pref-width: 24px;
 }